{% extends 'base.html.twig' %}

{% block content %}
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-4xl text-center">
            <h1 class="text-balance text-5xl font-semibold tracking-tight text-gray-900 sm:text-7xl">{{ content.title }}</h1>
            <p class="mt-8 text-pretty text-lg font-medium text-gray-500 sm:text-xl/8">{{ content.introduction|raw }}</p>
        </div>
    </div>

    <div class="mx-auto max-w-7xl px-3 py-12 sm:pt-16 lg:px-4 lg:py-20 prose">
        {{ content.article|raw }}
    </div>

    <div class="mx-auto max-w-7xl px-3 py-12 sm:pt-16 lg:px-4 lg:py-20">
        {{ render_esi(controller('App\\Controller\\Website\\TimestampController::now')) }}
    </div>
{% endblock %}
